* {
	padding: 0;
	margin: 0;
	font-family: century gothic;
	background-color: black;
	color: white;
}

h1 {
	padding: 12px; 
	text-align: center;
	margin: 0 auto;
}

div {
    padding: 10px 20px;
}

img {
	width: 500px;
	height: 400px;
}

.encabezado{
	display:grid;
	justify-content: center;
}

.form{
	color: white;
}